body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background: #222;
    font-size: 120%;
}

.card {
    background: #eaeaead0;
    padding: 2rem;
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: #222;
    color: white;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

button:hover{
    background: none;
    color: black;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 2rem;
    background: #7c7c7c2b;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 80px);
}

h1.temp {
    margin: 0;
    margin-bottom: 1rem;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    position: relative;
    max-height: 20px;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 20px;
}